
footer {
    display: grid;
    grid-template-columns: auto 25%;
    border-top: 1px solid #2a2a2a;
    min-height: 15em;
    white-space: nowrap;
    overflow-x: hidden;
}

footer .navigation {
    display: flex;
}

footer .navigation div {
    padding: 1em 2em;
    width: 100%;
    white-space: nowrap;
}

footer .navigation h3 {
    font-size: 1.5em;
    margin: .75em 0;
}

footer .navigation li {
    list-style-type: none;
    line-height: 1em;
    margin: .8em 0 0 -1em;
}

footer .navigation a {
    position: relative;
    font-size: 1em;
    color: #2a2a2a;
    text-decoration: none;
    padding: .5em 1em;
}

footer .navigation a::before {
    content: "";
    position: absolute;
    top: 0;
    left: .8em;
    padding: 1em;
    background-color: #e77224;
    border-radius: 100%;
    opacity: 0;
    z-index: -1;
    transition: left .2s, opacity .1s;
}

footer .navigation a:hover::before {
    left: .5em;
    opacity: 1;
}



footer .logo {
    padding: 2em;
    border-left: 1px solid #2a2a2a;
    margin: 0;
}

footer .logo h3,
footer .logo p {
    margin: 0
}

footer .logo h3 {
    line-height: .8em;
    font-size: 2.5em;
}

footer .logo p {
    margin-top: 1em;
    font-size: .8em;
}


@media screen and (max-width: 1300px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .logo {
        padding-top: 4em;
        border: none;
    }
}



