
::-moz-selection {
    background-color: #e77224;
    color: #ffffff;
}
::selection {
    background-color: #e77224;
    color: #ffffff;
}

* {font-family: 'IBM Plex Serif', serif;}


body {
    margin: 0;
    color: #222;
    

    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: default;
    text-align: justify;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: #222;
}
header {
    font-family: serif;
    position: relative;
    height: 100vh;
    background: #e68145;
}

header img,
.accueil {
    transition: opacity .5s;
}

.accueil {
    position: relative;
    text-align: center;
    padding: 2em;
    width: 60vw;
    max-width: 45em;
    top: 5vh;
    margin: auto;
    color: white;
    letter-spacing: 3px;
}
header h1 {
    display: inline-block;
    font-size: 3.5em;
    line-height: 1.2em;
    font-weight: lighter;
    text-align: left;
    padding-top: .5em;
    margin: 0;
    white-space: nowrap;
    transition: lett 1s;
}

header img {
    width: 80%;
    object-fit: cover;
    height: 38vh;
    padding: 2em 10%;
}

header p {
	display: block;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
}


header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin: auto;
}

header nav a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

@media (min-width: 600px) {
    header img {

    }

    header nav a {
        font-size: 1em;
    }
  }