RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.savonnerielacurieuse\.com$
RewriteRule ^/?$ "http\:\/\/savonnerielacurieuse\.com\/" [R=301,L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# One day for most static assets
<filesMatch ".(html|css)$">
Header set Cache-Control "max-age=86400, public"
</filesMatch>
# One week for images + js
<filesMatch ".(svg|js|jpg|jpeg|png|gif|ico|otf|ttf)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>

ErrorDocument 404 https://savonnerielacurieuse.com/redirect.html