           
::-moz-selection {
    background-color: #e77224;
    color: #ffffff;
}
::selection {
    background-color: #e77224;
    color: #ffffff;
}

html {
    background: #fff;
}


body {
    margin: 0;
    color: #111;
    font-family: 'Amiri', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: default;
    text-align: justify;
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #111;
}






main {
    display: none;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: 3;
    background-color: white;
}

section {
    padding: 2em 0;
    display: none;
}




h2 {
    text-align: center;
    margin: 2em 0 .5em 0;
    font-size: 4em;
    line-height: .8em;
}

h2 small {
    display: block;
    font-size: .5em;
    font-weight: 400;
    font-style: italic;
}

h3 {
    font-size: 1.2em;
    margin: 0;
}


/*
    BACK TO HOME
*/

#backtohome {
    position: absolute;
    padding: 1em;
    top: -1em;
    left: calc(50% - 1em);
    border-radius: 100%;
    background-color: #ffe0b2;
    z-index: 999;
    transform: scale(1);
    transition: transform .5s;
    cursor: pointer;
}

#backtohome:hover {
    transform: scale(3);
}







/*
    MAIN
    HEADER
*/

header {
    display: grid;
    grid-template-columns: 1% 99%;
    padding: 4em;
}

header .logo {
    padding-left: 4em;
    cursor: pointer;
    height: 2em;
}

header .logo .bubble {
    display: inline-block;
    padding: .5em;
    background-color: #FFCC80;
    border-radius: 100%;
    opacity: .5;
    transition: transform 1s;
}

header .logo:hover .bubble {
    transform: scale(5);
}

header .logo h1 {
    opacity: 1;
    font-size: 1em;
    line-height: 1em;
    font-style: italic;
    letter-spacing: .5rem;
    font-weight: 400;
    margin: 0;
    margin-top: -2em;
}

header .logo h1 span {
    display: block;
}


header .menu {
    text-align: left;
    white-space: nowrap;
}

header .menu h2,
header .menu button {
    font-weight: lighter;
    font-style: italic;
    color: #111;
    font-family: 'Amiri', serif;
}

header .menu button {
    position: relative;
    background-color: transparent;
    border: 0;
    padding: .5em 1em .5em 0;
    margin: 0;
    font-size: 2em;
    line-height: 1em;
    opacity: .3;
    transition: opacity 1s;
    cursor: pointer;
    outline: none;
}




header .higher {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header .higher h2 {
    display: inline;
    font-size: 6em;
    margin: 0;
    margin-right: 1em;
}

header .higher button {
    font-size: 1.5em;
}

header .menu .lower button::before {
    position: absolute;
    content: "";
    top: .5em;
    left: calc(50% - 1em);
    padding: .5em;
    border-radius: 100%;
    background-color: #fcdaa8;
    transform: scale(0);
    transition: transform .5s;
    z-index: -1;
}

header > div .lower button:focus {
    opacity: 1;
}

header > div .lower button:focus::before {
    transform: scale(1);
}







section#savons {
    display: block;
}

section .sous-section {
    display: none;
}
section .sous-section.clicked {
    display: block;
}




.fabr_intro,
.fabr_desc {
    font-size: 22px;
}

.fabr_intro {
    max-width: 800px;
    margin: auto;
}

.fabr_wrap {
    max-width: 1200px;
    margin: 6em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fabr_wrap > div {
    margin: 0 2em;
}

.fabr_wrap h3 {
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
    line-height: .8em;
}

.fabr_desc {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 12em;
    margin: 1.5em;
    text-align: left;
}
.fabr_desc p {
    margin: .5em 0 1em 0;
}
.fabr_desc img {
    width: 12em;
    height: 12em;
    border-radius: 4px;
}

.formule p {
    text-align: center;
}


.info_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22em;
}
.info_box {
    display: inline-block;
    color: #111;
    text-align: justify;
    margin-bottom: 3em;
}










.savon_wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    transition: all .5s;
    line-height: 23px;
}

.savon {
    text-align: center;
    padding: 2em 1em;
    cursor: pointer;
}

.savon img {
    height: 220px;
    border-radius: 10px;
    image-rendering: pixelated;
    image-rendering: optimizeSpeed;
}

.savon > div {
    margin: .5em 0 1em 0;
}

.savon p {
    margin: 0;
}




.vitrine .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    transform: scale(0);
    transition: transform 1s;
    background-color: #fff7ec;
    border-radius: 100%;
    z-index: -1;
}

.vitrine.active .overlay {
    transform: scale(30);
}


.vitrine {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    top: 5vh;
    left: 25vw;
    width: 50vw;
    min-width: 500px;
    z-index: 99;
    border-radius: 10px;
    transition: visibility 0s 1s;
}

.vitrine.active {
    visibility: visible;
    transition: visibility 0s 0s;
}


.vitrine button {
    position: fixed;
    top: 1em;
    right: 28vw;
    border: none;
    background-color: transparent;
    font-size: 3em;
    font-weight: 100;
    cursor: pointer;
    opacity: .5;
}


.vitrine button,
.vitrine #savonToDisplay {
    opacity: 0;
    transition: opacity .3s 0s;
}
.vitrine.active button,
.vitrine.active #savonToDisplay {
    opacity: 1;
    transition: opacity .5s .5s;
}


#savonToDisplay,
#savonToDisplay .image-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#savonToDisplay {
    max-width: 900px;
    margin: auto;
    padding: 4em 2em;
    text-align: left;
    z-index: 10;
}

#savonToDisplay img {
    border-radius: 10px;
    image-rendering: pixelated;
}

#savonToDisplay > div > img {
    width: 400px;
    height: 400px;
    margin-right: 1em;
}

#savonToDisplay .image-preview img {
    width: 4em;
    height: 4em;
    margin: .3em 0;
    cursor: pointer;
    filter: grayscale(.7);
    transition: filter .2s;
}

#savonToDisplay .image-preview img:hover {
    filter: grayscale(0);
}

#savonToDisplay h3 {
    font-size: 4em;
    margin: -0.6em 0 0 .6em;
    line-height: 1em;
}

#savonToDisplay > div:first-child {
    display: flex;
    justify-content: center;
}

#savonToDisplay p {
    font-size: 1.3em;
    line-height: 1.2em;
}

#savonToDisplay .compo {
    font-size: 1em;
    line-height: 1.2em;
}







#ouTrouver h3 {
    margin: 0;
    text-align: left;
    display: inline-block;
    line-height: 1em;
    width: 22vw;
    font-size: 5vw;
    font-weight: 100;
    font-style: italic;
}

.strip_wrap > div {
    display: flex;
    align-items: center;
    margin: 3em;
}

.strip {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.strip h4 {
    margin: 0;
    line-height: 1em;
    font-size: 5vw;
    cursor: pointer;
    opacity: .3;

    transition: opacity .6s;
}

.strip div p {
    font-size: 2vw;
    line-height: 1.3em;
    overflow: hidden;
    margin: 0 0 0 1em;
    max-height: 0;
    transition: max-height .8s;
}
.strip .active p {
    max-height: 1.3em;
}

.strip .active h4,
.strip h4:hover,
.strip h4:focus {
    opacity: 1;
}













.question {
    width: 70%;
    margin: 3em auto;
    overflow: hidden;
}
.question h3 {
    margin: 0;
    font-size: 1.6rem;
}
.question p {
    display: block;
    margin: 1em 0;
    font-size: 1.2rem;
    font-weight: normal;
}














footer {
    display: block;
    width: 100%;
    min-height: 50vh;
    background-color: #111;
    color: white;
    z-index: 0;
    bottom: 0;
    overflow: hidden;
}

footer .footerwrap {
    padding: 2em 0;
}

footer a {
    color: white;
    margin-bottom: .2em;
}

footer .nav {
    display: flex;
    justify-content: center;
}

footer .nav > div {
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
}

footer h3 {
    margin-bottom: 1em;
}

footer .contact {
    width: 70vw;
    margin: 4em auto;
}

footer .contact p {
    margin: 0;
    font-size: 3em;
    line-height: 1.2em;
}










