           
::-moz-selection {
    background-color: #e77224;
    color: #ffffff;
}
::selection {
    background-color: #e77224;
    color: #ffffff;
}


body {
    margin: 0;
    color: #222;
    font-family: 'Amiri', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: default;
    text-align: justify;
    font-size: 21px;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: #222;
}

nav {
    padding-top: 3em;
}

nav a {
    padding-right: .5em;
    margin-right: 1em;
    font-size: 30px;
    font-weight: bold;
    transition: color .1s;
}

nav a:hover {
    color: #e77224;
}

.accueil {
    min-height: 80vh;
    padding-left: 10vh;
}

.accueil .titre {
    padding: 10vh 0;
}

.accueil .titre h1 {
    font-size: 130px;
    line-height: .8em;
    margin: 0;
}

.accueil .titre p {
    margin: .5em 0;
    font-size: 40px;
    font-weight: bolder;
}
 
.accueil .intro {
    max-width: 400px;
    margin: auto;
}


.content {
    width: 100%;
    margin: 2em 0;
    overflow-x: hidden;
    background-color: #fff;
}

.categorie {
    margin: 25vh auto 10vh;
    max-width: 900px;
}

.categorie > div {
    height: 20em;
    max-width: 40em;
    background-size: cover;
    border-radius: 8px;
}

.categorie h2 {
    font-weight: bold;
    text-align: left;
    font-size: 4em;
    line-height: 1em;
    margin: .5em;
}

#saf > div {background-image: url("../images/categorie/fabrication.jpg")}
#savons > div {background-image: url("../images/categorie/suggestion.jpg")}
#ouTrouver > div {background-image: url("../images/categorie/stand.jpg")}
#contact > div {background-image: url("../images/categorie/volloreville.jpg")}


h3 {
    margin: 0;
    font-size: 2em;
}

.fabr_intro {
    max-width: 800px;
    margin: 0 auto 10vh auto;
}

.fabr_wrap {
    text-align: center;
    max-width: 1400px;
    margin: auto;
}

.fabr_wrap h2,
.fabr_wrap h3 {
    text-align: left;
}
.fabr_desc {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 12em;
    margin: 1.5em;
    text-align: left;
}
.fabr_desc p {
    margin: .5em 0 1em 0;
}
.fabr_desc img {
    width: 12em;
    height: 12em;
    border-radius: 4px;
}
#hat {
    position: relative;
}
#hatimg {
    position: absolute;
    height: 85px;
    width: 85px;
    transform: scaleX(-1) rotate(27deg);
    left: -28px;
    top: 10px;
}






.info_wrap {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 65rem;
}
.info_box {
    display: inline-block;
    margin: 1em;
    padding: 1.5em;
    color: #fafafa;
    background-color: #e77224;
    border-radius: 4px;
    text-align: justify;
}

.info_box h3 {
    line-height: 1em;
}

.savon_wrap {
    text-align: center;
}
.savon {
    max-width: 33em;
    display: inline-block;
    text-align: left;
    margin: 3em 1em 1em 1em;
}
.savon .inner {
    display: flex;
}
.savon .inner h3 {
    margin: .5em 0;
}
.savon .inner p {
    margin: 0;
}


.savon .compo {
    margin-top: 1em;
    text-align: left
}

.savon img {
    height: 11rem;
    min-width: 11rem;
    margin-right: 1em;
    border-radius: 4px;
    image-rendering: pixelated;
    image-rendering: optimizeSpeed;
}
.savon_wrap .info_box {
    display: flex;
    align-items: center;
    margin: 2em auto;
    max-width: 1000px;
    text-align: left;
}
.savon_wrap .info_box p {
    margin: 1em;
}

.cesar {
    width: auto;
    max-width: 40em;
}


.wrapper {
    padding: 0 2em;
}



.trouver_wrap {
    max-width: 1200px;
    text-align: left;
    margin: auto;
}

.trouver_wrap h3 {
  margin: 1em 0;
  margin-top: 2em;
}

.boutique_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  font-size: 1.2em;
}

.boutique_wrap div {
  width: 300px;
  margin: 1em 2em 1em 0;
  padding-left: 1em;
  border-left: 2px dashed #ddd
}

.boutique_wrap p {
  padding-bottom: .5em;
}

.boutique_wrap li {
  font-size: .7em;
  line-height: 1.7em;
  color: #888;
  list-style: none;
}

.boutique_wrap li a {
  color: #888;
}

.trouver_wrap div a,
.trouver_wrap div p {
    display: block;
    margin: 0;
    transition: all .2s;
}

.trouver_wrap div a:hover {
    color: #e77224;
    transition: all .2s;
}

.trouver_wrap div small {
    color: #777;
    font-size: .9rem;
    line-height: .9rem;
}

.boutique_wrap b {
    color: #e77224
}



h3#events {
    margin-top: 2em;
}

.table_wrap {
    margin: 2em 0;
    overflow-x: auto;
}
table {
    margin: auto;
    border-collapse: collapse;
    max-width: 1200px;
    empty-cells: hide;
}
thead td:first-child {
    border-top-left-radius: 4px;
}
thead td:last-child {
    border-top-right-radius: 4px;
}
thead td {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    background-color: #e77224;
}
td {
    min-width: 200px;
    vertical-align: top;
    padding: 1rem;
}
tbody {
    text-align: left;
}
tbody td {
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-weight: normal;
}

table small {
    color: #777;
}

table .annule {
  border: 2px dashed red;
  background: #f002;
}

table .annule b {
  color: #f00
}





#map {
    position: relative;
    width: 50%;
    max-width: 600px;
    height: 400px;
    border-radius: 8px;
    background-position: 50%;
    background-size: cover;
}
#map p {
    width: 100%;
    height: calc(100% - 160px);
    margin: 0;
    padding-top: 160px;
    font-size: 1.5rem;
    color: #eee;
    text-align: center;
    text-shadow: 2px 2px #222;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    transition: all .2s;
}
#map p:hover {
    background-color: rgba(0,0,0,0.5);
    transition: all .2s;
}
.ol-viewport {
    position: absolute!important;
    top: 0!important;
}
#map:-webkit-full-screen {
    height: 100%;
    max-width: 100%;
}
#map:fullscreen {
    height: 100%;
    max-width: 100%;
}
.ol-rotate {
    top: 3em;
}



.adresse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5em;
}
.location {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 1em;
    padding-left: 2em;
    min-width: 250px;
    font-size: 1.5em;
    text-align: left;
    line-height: 1em;
    font-weight: bolder;
}


h2#faq,
.question {
    width: 70%;
    margin: 3em auto;
    overflow: hidden;
}
.question h3 {
    margin: 0;
    font-size: 1.6rem;
}
.question p {
    display: block;
    margin: 1em 0;
    font-weight: normal;
}
footer {
    position: relative;
    width: 100%;
    padding: 5em 0;
    background-color: #222;
    color: #aaa;
    overflow-y: hidden;
}
footer a {
    color: #aaa;
    text-decoration: none;
    transition: all .2s;
}
footer a:hover {
    color: white;
    transition: all .2s;
}
footer .foot_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    text-align: left;
}
.foot_wrap > div {
    margin: 3em;
}

.logo p,
.logo h2 {
    color: #fff;
    text-decoration: none;
    margin: 0;
    line-height: .8em;
}

.index li {
    list-style: none;
}

.index a {
    white-space: nowrap;
    text-align: right;
    font-size: 1.6rem;
    display: block;
    line-height: 2em;
}


@media all and (max-width: 1000px) {

    .accueil {padding-left: 0}
    .accueil .titre h1 {font-size: 100px}
    .accueil .titre p {font-size: 30px}

    .content {
        margin-top: 0;
        padding-top: 2em;
    }
    .info_wrap,
    .info_box {
        flex-wrap: wrap;
    }

    .recette {
        margin-left: 0!important;
    }

    .location, #map {width: 100%}
    
}

@media all and (max-width: 500px) {

    .savon,
    .trouver_wrap div,
    #map {
        width: 100%;
    }
    .contact p,
    .intro,
    .fabr_desc,
    .question p,
    .savon .desc,
    .savon_wrap .info_box p,
    #map {
        margin-left: 0;
        margin-right: 0;
    }

    
    .accueil .titre h1 {font-size: 60px}
    .accueil .titre p {font-size: 20px}
    .accueil nav {padding-top: 1em}
    .accueil nav a {font-size: 20px; margin: 0}

    .categorie > div {height: 10em}
    .categorie h2 {font-size: 2em}

    h3 {
        font-size: larger;
    }

    .wrapper {
        padding: 0 1em;
    }

    .savon .inner h3 {
        margin: 1em 0 0 0;
    }
    .top {
        display: block;
    }
    .savon .inner {
        flex-wrap: wrap;
    }
    .savon,
    .info_box {
        text-align: justify;
        margin: 3em 0 1em 0;
    }
    .info_box {padding: 1em;}
    .savon .inner img {margin: 0 auto;}
    .events .table_wrap {margin: 1em 0;}

    #map {height: 300px}
    .location {padding: 0; font-size: 1.4em; text-align: center;}

    .question {width: calc(100% - 2rem);}
    .question {text-align: left;}
}