
nav {

    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    width: 100%;
    z-index: 10;
    mix-blend-mode: difference;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


        .hamburger {

            width: 20px;
            height: 16px;
            padding: .5em;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            cursor: pointer;
            transition: transform .5s;


            span {
                width: 100%;
                padding: 1px;
                background-color: white;
                border-radius: 10px;
                transition: transform .5s;
            }

            &.clicked {

                transform: translateX(-5px);

                span {
                    background-color: white;

                    &:nth-child(1) {
                        transform: rotate(-45deg) translateY(10px);
                    }
                    &:nth-child(2) {
                        transform: scale(0);
                    }
    
                    &:nth-child(3) {
                        transform: rotate(45deg) translateY(-10px);
                    }
                }
            }
        }
}

#extended-nav {

    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    opacity: 0;
    z-index: -1;
    transition: opacity .5s;

    &.visible {
        opacity: 1;
    }

    #extended-nav-content {

        width: 80vw;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .left-display {

            >div {
                display: block;
                width: 400px;
            }

            &.presente {
                .presentation-images {
                    display: block
                }

                .contact-infos {
                    display: none
                }
            }

            &.contacte {
                .presentation-images {
                    display: none
                }

                .contact-infos {
                    display: block
                }
            }

            .presentation-images {

                img {

                    width: 100%;
                    opacity: 0;
                    transform: translateY(-50px);
                    transition: opacity .5s, transform .5s;

                    &.out {
                        transform: translateY(50px);
                        opacity: 0;
                        transition: opacity .5s, transform .5s;
                    }

                    &.in {
                        transform: translateY(0px);
                        opacity: 1;
                        transition: opacity .5s, transform .5s;
                    }
                }
            }

            .contact-infos {
                display: none;

                >div {
                    overflow: hidden;

                    p {
                        font-size: 30px;
                        display: block;
                        transform: translateY(-100%);
                        transition: transform .5s;
                        margin: 0;
                        line-height: 1em;

                        &.in {
                            transform: translateY(0%);
                        }
                    }
                }
            }
        }

        .nav-liste {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        li {

            border: 2px solid transparent;
            list-style: none;
            padding: 3vh;
            margin: 2vh;
            transition: border .5s cubic-bezier(0.19, 1, 0.22, 1);

            &.selected {
                background-color: #fff1;
                border-color: #444;
                border-radius: 4px;
            }

            a {
                text-decoration: none;
                color: white;
                transition: opacity .5s ease-out;

                &:hover {
                    opacity: 1;
                }
            }

            h3,
            p {
                margin: 0;
                cursor: pointer;
                line-height: 1em;
            }

            h3 {
                font-size: 45px;
                margin-bottom: 10px;

                a {
                    opacity: .5;
                }
            }

            p {
                margin: .5vh 1vh;
                font-size: 25px;

                a {
                    opacity: .3;
                }
            }


        }
    }
}