nav {
	position: fixed;
	width: 100%;
	z-index: 10;

	&.extended {
		.quicknav {
			visibility: hidden;
		}
		.hamburger {
			transform: translateX(-5px);

			span {
				background-color: white;

				&:nth-child(1) {
					transform: rotate(-45deg) translateY(10px);
				}
				&:nth-child(2) {
					transform: scale(0);
				}

				&:nth-child(3) {
					transform: rotate(45deg) translateY(-10px);
				}
			}
		}
		#extended {
			opacity: 1;
			visibility: visible;
		}
	}

	#simple {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 1em 4em;

		.quicknav {
			color: white;
			list-style: none;
			display: flex;
			justify-content: space-evenly;
			padding: 20px 10px;
			margin-right: 60px;
			user-select: none;
			transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);

			li {
				position: relative;
				padding: 0 1vw;
				margin: 0 1vw;
				font-size: 25px;
				font-weight: bolder;
				font-style: italic;
				cursor: pointer;
				transition: all 0.2s;

				&:hover,
				&.selected {
					opacity: 0.5;
				}

				&:active {
					transform: scale(0.9);
				}
			}

			&.bottom {
				transition: all 0.2s;
				background-color: white;
				overflow: hidden;
				color: #111;
				border: 2px solid #111;
			}
		}

		.hamburger {
			width: 20px;
			height: 16px;
			padding: 0.5em;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			cursor: pointer;
			transition: transform 0.5s;

			span {
				width: 100%;
				padding: 1px;
				background-color: white;
				border-radius: 10px;
				transition: transform 0.5s, background-color 0.2s;
			}
		}
	}

	#extended {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		opacity: 0;
		background-color: black;
		color: white;
		overflow: hidden;
		visibility: hidden;
		transition: opacity 0.5s;

		&.visible {
			opacity: 1;
		}

		#extended-nav-content {
			max-width: 1600px;
			height: 100vh;
			margin: auto;
			display: flex;
			justify-content: space-around;
			align-items: center;

			.left-display {
				> div {
					display: block;
					width: 400px;
					max-width: 30vw;
				}

				.presentation-images {
					img {
						width: 100%;
						opacity: 0;
						transform: translateY(-50px);
						transition: opacity 0.5s, transform 0.5s;

						&.out {
							transform: translateY(50px);
							opacity: 0;
							transition: opacity 0.5s, transform 0.5s;
						}

						&.in {
							transform: translateY(0px);
							opacity: 1;
							transition: opacity 0.5s, transform 0.5s;
						}
					}
				}
			}

			.nav-liste {
				display: grid;
				grid-template-columns: 400px 400px;
			}

			li {
				border: 2px solid transparent;
				list-style: none;
				padding: 3vh;
				margin: 1vh;
				transition: border 0.5s cubic-bezier(0.19, 1, 0.22, 1);

				&.selected {
					background-color: #fff1;
					border-color: #444;
					border-radius: 4px;
				}

				h3,
				p {
					margin: 0;
					cursor: pointer;
					line-height: 1em;
					transition: opacity 0.5s ease-out;

					&:hover {
						opacity: 1;
					}
				}

				h3 {
					font-size: 40px;
					margin-bottom: 10px;
					opacity: 0.7;
				}

				p {
					margin: 0.5vh 1vh;
					font-size: 22px;
					opacity: 0.5;
				}
			}
		}
	}
}
