nav {

    position: absolute;
    top: 60px;
    left: 60px;
    width: calc(100% - 120px);
    z-index: 10;
    color: white;

    &.minimal {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: none;
        }

        .center {

            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            ul {

                display: flex;
                justify-items: center;
                width: 100%;
                white-space: nowrap;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 0 1em;
                    list-style: none;
                    font-weight: bold;
                    opacity: .7;
                    transition: opacity .5s;
                    cursor: pointer;

                    &.active {
                        opacity: 1;
                    }
                }
            }

        }

        .hamburger {

            width: 20px;
            height: 16px;
            padding: .5em;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            cursor: pointer;

            span {
                width: 100%;
                padding: 1px;
                background-color: #fff;
                border-radius: 10px;
                transition: transform .5s;
            }

            &.clicked {
                span:nth-child(1) {
                    transform: rotate(-45deg) translateY(10px);
                }

                span:nth-child(2) {
                    transform: scale(0);
                }

                span:nth-child(3) {
                    transform: rotate(45deg) translateY(-10px);
                }
            }
        }
    }

}

#extended-nav {

    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    visibility: hidden;

    &.visible {
        visibility: visible;
        z-index: 9999;
    }

    #extended-nav-content {

        width: 80vw;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .left-display {

            >div {
                display: block;
                width: 400px;
            }

            &.presente {
                .presentation-images {
                    display: block
                }

                .contact-infos {
                    display: none
                }
            }

            &.contacte {
                .presentation-images {
                    display: none
                }

                .contact-infos {
                    display: block
                }
            }

            .presentation-images {

                img {

                    width: 100%;
                    opacity: 0;
                    transform: translateY(-50px);
                    transition: opacity .5s, transform .5s;

                    &.out {
                        transform: translateY(50px);
                        opacity: 0;
                        transition: opacity .5s, transform .5s;
                    }

                    &.in {
                        transform: translateY(0px);
                        opacity: 1;
                        transition: opacity .5s, transform .5s;
                    }
                }
            }

            .contact-infos {
                display: none;

                >div {
                    overflow: hidden;

                    p {
                        font-size: 30px;
                        display: block;
                        transform: translateY(-100%);
                        transition: transform .5s;
                        margin: 0;
                        line-height: 1em;

                        &.in {
                            transform: translateY(0%);
                        }
                    }
                }
            }
        }




        li {

            list-style: none;
            margin: 4em 0;
            opacity: .5;
            transition: opacity .5s ease-out;

            h3,
            p {
                margin: 0;
                cursor: pointer;
                line-height: 1em;
            }

            h3 {
                font-size: 45px;
                margin-bottom: 10px;
            }

            p {
                margin-left: 1em;
                font-size: 20px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}