

.page {
	position: relative;
	background-color: white;
	cursor: default;
	min-height: 100vh;
	padding: 3em 2em;
	z-index: 3;
	text-align: justify;

	h2 {
		font-size: 70px;
	}

	h3 {
		font-size: 40px;
	}

	.deux-colonnes {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.semi-titre {
		position: relative;
		white-space: nowrap;

		h2 {
			margin: 0;
			font-size: 70px;
			margin-bottom: 70px;
			position: relative;
		}

		.ballon {
			position: absolute;
			top: -15px;
			left: -60px;
			padding: 60px;
			border-radius: 60px;
			background-color: #ffcc80;
		}
	}

	&.un {

		min-height: 0;

		.deux-colonnes {
			min-height: calc(100vh - 6em);

			> div {
				margin: 1em;
				
				&.slc-description {
					max-width: 450px;
				}
			}
		}

		img {
			width: 45vw;
			height: 45vw;
			max-width: 600px;
			max-height: 600px;
			min-width: 300px;
			min-height: 300px;
		}

		footer {
			display: none;
		}
	}

	&.deux {
		.sap-description {
			max-width: 750px;
			margin: 0 auto;
			padding: 6em 0;
		}

		.deux-colonnes {
			justify-content: space-around;

			.fabrication {
				position: relative;
				color: #222;
				display: inline-flex;
				flex-direction: column;
				align-items: flex-start;
				max-width: 600px;
				overflow-x: hidden;

				h3 {
					margin-bottom: 1em;
					text-align: center;
					width: 100%;
				}

				#imgwrap {
					display: flex;
					height: 400px;
					transition: transform 0.8s;

					img {
						width: 400px;
						margin: 0 20px;
						transition: all 0.5s;
						filter: grayscale(1);
						cursor: pointer;

						-khtml-user-select: none;
						-o-user-select: none;
						-moz-user-select: none;
						-webkit-user-select: none;
						user-select: none;

						&.focused {
							filter: grayscale(0);
						}

						&:first-child {
							margin-left: 100px;
						}
					}
				}

				#timer {
					position: relative;
					width: 20%;
					height: 7px;
					margin: 15px auto;
					background: rgba(17, 17, 17, 0.1);
					border-radius: 7px;
					transition: opacity 0.5s;
					overflow: hidden;

					&.hidden {
						opacity: 0;
					}

					.inner {
						position: absolute;
						top: 0;
						left: 0;
						width: 0px;
						height: 7px;
						background: rgba(17, 17, 17, 0.2);
					}
				}

				.fabr-text {
					width: 100%;
					text-align: center;

					> div {
						position: relative;
						display: flex;
						align-items: flex-start;
						margin: 1em 2em;

						p {
							position: absolute;
							opacity: 0;
							margin: 0;
							z-index: 4;
							transition: opacity 0.2s;

							&:first-child {
								opacity: 1;
								z-index: 5;
							}
						}
					}
				}
			}

			.expliquation {
				max-width: 400px;
				margin-left: 4em;

				.grosseballe {
					position: absolute;
					right: -20em;
					padding: 22em;
					border-radius: 22em;
					background: #fef4b8;
					z-index: -1;
				}
			}
		}

		footer {
			padding-top: 30vh;
		}
	}

	&.trois {

		padding: 5em 0;

		.liste-savons {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			h3 {
				border-radius: 1.5em;
				padding: 5px 20px;
				margin: 10px;
				cursor: pointer;
				transition: all 0.2s linear;

				&:hover {
					background-color: #ffdbbd;
				}

				&:active {
					background-color: #f8c499;
				}

				&.selected {
					color: white;
					background-color: #fda761;
				}

				&:last-child {
					display: none;
				}
			}
		}

		.full-card {
			
			margin: auto;
			padding-top: 5em;

			.nom {
				font-size: 30px;
				position: relative;

				.shadow {

					$shadowsize: 150px;

					position: absolute;
					top: -$shadowsize / 2;
					left: -$shadowsize / 2;
					margin: 0;
					font-size: $shadowsize;
					white-space: nowrap;
					opacity: 00;
					z-index: -1;
				}

				h3 {
					font-size: 80px;
					margin: 0;
					line-height: 1em;
				}
			}

			.slideshow {

				display: flex;
				max-width: 90vw;
				margin: auto;

				img {
					width: 256px;
					margin: 8px;
				}
			}

			.bottom {
				margin: auto;
				width: 80%;
				max-width: 700px;
				min-width: 300px;

				.composition {
					opacity: 0.8;
				}
			}
		}

		.savons-doux,
		.savon-menager,
		.en-parlent {
			min-height: 100vh;
		}

		.savons-doux {
			color: #111;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.savon-menager {
			position: relative;
			overflow: hidden;

			.full-card {
				margin: 0;
				padding-top: 0;

				.bottom {
					margin: 0;
					width: 100%;
					max-width: 550px;
				}
			}

			.recette-lessive {
				max-width: 450px;
			}

			.grosseballe {
				position: absolute;
				bottom: 7em;
				right: -12em;
				padding: 16em;
				background: #ffecc5;
				border-radius: 25em;
				z-index: -1;
			}
		}

		.en-parlent {

			padding: 0 5em;
			text-align: center;

			.semi-titre {
				display: inline-block;
			}

			.liste {
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;

				.citation {
					width: calc(50% - 4em);
					min-width: 250px;
					padding: 2em;
				}
			}

			.grosseballe {
				position: absolute;
				left: -12em;
				padding: 25em;
				background: #fbcd9a;
				border-radius: 25em;
				z-index: -1;
			}
		}
	}

	&.quatre {
		> div {
			padding: 2em 3em;
		}

		.deux-colonnes {
			align-items: flex-start;
			margin: 2em 0;

			> div {
				margin: 1em;
			}

			h3 {
				text-align: center;
			}

			#vue-boutiques .item {
				background-color: #8eae4f;
			}

			#vue-marches .item {
				background-color: #c9bd61;
			}

			#vue-savonnerie .item {
				background-color: #499d4d;
			}

			.item {
				padding: 1em;
				margin: 0.5em 0;
				max-width: 450px;
				border-radius: 10px;
				color: white;

				h4 {
					font-size: 30px;
					line-height: 30px;
					margin: 0;
					margin-bottom: 10px;
				}

				p {
					margin: 0;
					font-size: 20px;
					line-height: 25px;
				}

				&.contact {
					background: #fef4b8;
					border-radius: 4em;
					margin: 2em 0 0 2em;
					padding: 1em;
					font-weight: bold;

					p {
						margin-left: -3em;
					}
				}
			}
		}

		.filters {
			display: grid;
			max-width: 900px;
			margin: -1em auto;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			gap: 10px;
			justify-content: space-evenly;
			padding: 0 0 2em 0;

			button {

				&.hasEvents {
					background-color: #fce68644;
				}

				&:hover,
				&.selected {
					background-color: #fce686;
				}
			}
		}

		.calendrier {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			min-height: 300px;

			.item {
				width: calc(50% - 4em);
				min-width: 200px;
				padding: 2em;
				padding-bottom: 0;

				h3 {
					display: inline-block;
					margin: 0;
				}

				p {
					margin: 0;

					&.cal-coord {
						font-size: 0.8em;
					}
				}
			}
		}
	}

	&.cinq {

		$mapSize: 650px;

		.contact-infos {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10em 5em;

			.infos {

				position: relative;

				.gelule {
					position: absolute;
					top: 10%;
					left: -10%;
					width: 100%;
					height: 10em;
					border-radius: 5em;
					background-color: wheat;
					z-index: -1;
					visibility: hidden;
				}

				p {
					font-size: 25px;
					line-height: 1.2em;
					margin: 0;
				}
			}

		}

		#map {
			width: $mapSize;
			height: 75vh;

			.leaflet-control-container {
				visibility: hidden;
			}

			img {
				background-color: transparent;
			}
		}


		.faq {
			text-align: center;

			.semi-titre {
				display: inline-block;
			}
		}

		.faq-liste {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: left;
		
			> div {
				max-width: 500px;
				padding: 50px;

				h3 {
					line-height: 1em;
				}
			}
		}
	}
}
