@media (max-width: 1300px) {
	.page {
		&.deux {
			.deux-colonnes {
				flex-direction: column;

				.expliquation {
					max-width: 100%;
					display: flex;
					margin-left: 0;

					> div:not(.grosseballe) {
						min-width: 300px;
						padding: 2em;
					}
				}
			}
		}

		&.trois {
			.full-card {
				.nom h3 {
					margin-bottom: 0;
				}

				.images-desc {
					flex-direction: column;
					.desc {
						padding-left: 0;
						max-width: 80%;
						margin: auto;
					}
				}

				.compo {
					width: 80%;
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	main {
		#contenu-accueil {
			.titre {
				font-size: 10vw;
			}
		}
	}

	.page {
		.semi-titre {
			$size: 50px;

			h2 {
				font-size: $size;
				line-height: $size;
				margin-bottom: $size;
			}

			.ballon {
				top: -$size / 2;
				left: -$size;
				padding: $size;
			}
		}

		&.un {
			.deux-colonnes {
				flex-direction: column;

				div.slc-description {
					max-width: 100%;
				}
			}
		}

		&.deux {
			.sap-description {
				padding: 4em 0;
			}

			.deux-colonnes .expliquation {
				flex-direction: column;
				padding-top: 4em;

				> div:not(.grosseballe) {
					padding: 1em;

					h3 {
						margin: 0;
					}
				}
			}
		}

		&.trois {
			.deux-colonnes {
				flex-direction: column;
			}
			.liste-savons {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			.full-card {
				padding: 20px;
				.images-desc .images img {
					width: 220px;
				}
			}
		}

		&.quatre {
			padding: 2em 0;

			> div {
				padding: 0;
			}
		}

		&.cinq {
			.contact-infos {
				flex-direction: column;
				> div {
					padding: 2em 0;
				}
			}

			.faq-liste {
				> div {
					padding: 25px 0 0 0;
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	body {
		font-size: 20px;
		line-height: 25px;
	}

	nav {
		width: 100%;
		padding-top: 20px;

		#simple {
			justify-content: center;
			.quicknav {
				display: none;
			}
		}
	}

	#extended {
		top: -100vh;
		border-radius: 50vw;
		padding: 0vw;
		opacity: 1;
		overflow: hidden;
		transition: padding 1s;

		#extended-nav-content {
			height: 100vh;
			margin: 100vh auto 50vw auto;
			transition: margin 1s;
			overflow-y: auto;

			.left-display {
				display: none;
			}

			.nav-liste {
				grid-template-columns: 1fr;

				li {
					border: none;
					padding: 20px;
					margin: 0;

					h3 {
						font-size: 25px;
						opacity: 1;
					}

					p {
						font-size: 18px;
						opacity: 0.8;
					}
				}
			}
		}

		&.visible {
			padding: 100vh 0 50vw 0;
			transition: padding 2s;

			#extended-nav-content {
				margin: 0vw auto;
				transition: margin 2s;
			}
		}
	}

	main {
		#contenu-accueil {
			.titre {
				margin: auto;
			}
		}
	}

	.page {
		padding: 2em 1em;

		h3 {
			white-space: normal;
			text-align: center;
			line-height: 1em;
		}

		.semi-titre {
			white-space: normal;
			align-self: center;
			text-align: center;
			$size: 40px;

			h2 {
				font-size: $size;
				line-height: $size;
				margin-bottom: $size;
			}

			.ballon {
				top: -$size / 2;
				left: calc(50% - 40px);
				padding: $size;
			}
		}

		&.un {
			.slc-description {
				display: flex;
				flex-direction: column;
				padding: 2em 0;
			}
		}

		&.deux {
			.deux-colonnes {
				.fabrication {
					max-width: 100%;
					#imgwrap img {
						max-width: 300px;
						width: 65vw;
						margin: 0 5px;
					}
					.fabr-text > div {
						margin: 0;
					}
				}

				.expliquation {
					> div:not(.grosseballe) {
						padding: 1em 0;
						min-width: 0;
					}
					.grosseballe {
						padding: 18em;
					}
				}
			}
		}

		&.trois {
			.liste-savons {
				> div {
					width: calc(50% - 20px);
					max-width: 200px;
					margin: 20px 10px;
				}
			}
			.full-card {
				border: none;
				padding: 0;

				.close {
					position: initial;
					font-size: 25px;
					width: 100%;
					cursor: pointer;
					text-align: center;
				}

				.nom h3 {
					font-size: 40px;
				}

				.images-desc {
					.images img {
						width: calc(50% - 15px);
						margin: 5px;
					}
					.desc {
						text-align: justify;
						max-width: 100%;
						margin: 0;
					}
				}

				.compo {
					text-align: justify;
					width: 100%;
				}
			}
		}

		&.quatre {
			padding: 2em 0;

			.semi-titre {
				margin-top: 5em;
				padding: 0 1em;
			}

			.deux-colonnes {
				align-items: center;
				flex-direction: column;
				margin-bottom: 10em;

				.item h4 {
					font-size: 25px;
					margin-bottom: 0;
				}

				#vue-savonnerie {
					padding-top: 2em;
				}
			}

			.filters {
				padding: 2em 1em;
				grid-template-columns: 1fr 1fr 1fr;

				button {
					font-size: 1em;
				}
			}

			.calendrier {
				.item {
					width: 100%;
					text-align: left;
				}
			}
		}

		&.cinq {
			.contact-infos {
				text-align: left;
				padding: 1em;
				margin: 5em 0;
				flex-direction: column;

				.infos {
					text-align: center;
					padding: 2em 0;

					.gelule {
						top: -8em;
						left: 7em;
						width: 20em;
						height: 20em;
					}
				}

				#map {
					width: 70vw;
					height: 70vw;
				}
			}

			.faq-liste {
				> div {
					padding: 1em 0;
					h3 {
						font-size: 30px;
					}
					p {
						text-align: justify;
					}
				}
			}
		}

		footer {
			.wrapper {
				margin: 3vw;
				padding: 6vw;

				.contact {
					font-size: 3vw;
					line-height: 6vw;

					.adresse {
						line-height: 4vw;
					}
				}
			}
		}
	}
}
