@import "./pages.scss";
@import "./queries.scss";

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;

    > nav {

        position: fixed;
        top: 60px;
        right: 60px;
        z-index: 10;

        button {
            color: #fff;
            font-weight: bold;
        }
        
        .minimal {

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .dots {

                margin-top: 10px;
                white-space: nowrap;

                button {

                    width: 20px;
                    padding: 6px;
                    margin: 0 5px;
                    border: 2px solid white;
                    border-radius: 10px;
                    transition: width .5s;

                    &.active {
                        width: 60px;
                    }
                }
            }
        }

        &.header {
            button {
                color: #111;
            }
        }
    }
}


.main-menu {
    width: 100%;
    min-height: 100vh;
    background-color: #111;
    position: absolute;
    display: flex;
    z-index: 100;

    button {
        position: absolute;
        top: 3em;
        right: 3em;
        color: white;
    }

    .contenu {

        margin: auto;
        font-size: 1.6em;

        ul {
            width: 100%;
            list-style: none;
            padding: 0;
    
            a {
                color: rgba($color: #fff, $alpha: .6);
                text-decoration: none;
            }
    
            li {
                h2 {
                    color: white;
                    margin: 0;
                }
            }
        }
    }
}

button {
    border: none;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    cursor: pointer;
}

main {

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position-y: bottom;
        filter: brightness(.5);

        @keyframes SlideRight {
            from {left: -100%}
            to {left: 0%}
        }

        @keyframes SlideLeft {
            from {left: 100%}
            to {left: 0%}
        }

        &.current {z-index: 1;}
        &.aside {z-index: 2;}
    }

    .background.un {background-image: url('../images/accueil/louis-hoang.jpg')}
    .background.deux {background-image: url('../images/accueil/louise-knight.jpg')}
    .background.trois {background-image: url('../images/accueil/ritvik-singh.jpg')}
    .background.quatre {background-image: url('../images/accueil/anshu.jpg')}
    

    .accueil {

        position: absolute;
        width: 90vw;
        padding: 0 5vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 3;

        .titre {

            color: white;
            font-weight: bold;
            font-size: 8vw;
            transition: opacity .3s;

            &.animating {
                opacity: 0;
            }

            h1 {
                font-size: 1em;
                line-height: .8em;
                margin: 0;
            }

            p {
                margin-top: 10px;
                font-size: .3em;
            }

        }
    }
}

footer {
    color: white;
    background-color: #111;
    padding: 5em 2em;
    display: flex;
    justify-content: space-evenly;

    .navigation {

        display: flex;

        li {
            padding: .1em 1em;
            list-style: none;

            button {
                color: white;
            }
        }

        .parent {
            opacity: .5;
        }

        .child {
            visibility: hidden;
        }
    }

    .contact {

        p {
            font-size: 1.5em;
            margin: 0;
            opacity: .4;

            &:hover {
                opacity: 1;
            }
        }

        .adresse {

            margin-top: 1em;
            font-size: 1em;
            

            span {
                display: block;
            }
        }
    }
}