@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './pages';
@import './queries';
@import './nav';

body {
	margin: 0;
	font-family: 'Amiri', serif;
	font-style: italic;
	font-size: 25px;
	line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
	//cursor: none;

	#cursor {
		display: none;
		position: absolute;
		padding: 4px;
		background-color: white;
		border: 2px solid white;
		border-radius: 20px;
		z-index: 15;
		transition-timing-function: ease-out;
	}
}

img {
	background-color: wheat;
}

input,
button {
	border: none;
	background-color: transparent;
	font-family: 'Amiri', serif;
	font-style: italic;
	font-size: 30px;
	line-height: 1.5em;
	transition: background-color 0.2s linear;
	outline: none !important;
}

button {
	border-radius: 1.5em;
	padding: 0 20px;
	cursor: pointer;
}

main {

	#contenu-accueil {

		background-color: white;
		position: relative;

		.titre {
			position: relative;
			color: #111;
			font-weight: bold;
			font-size: 90px;
			margin: 1.5em;

			h1 {
				line-height: .8em;
				font-size: 1em;
				margin: 0;
			}

			p {
				line-height: .8em;
				font-size: .4em;
				margin-top: 10px;
			}
		}


		.background {

			@keyframes FadeIn {
				from {
					opacity: 0%;
				}
	
				to {
					opacity: 100%;
				}
			}
	
			position: fixed;
			top: 15vh;
			left: 15vw;
			width: 70vw;
			height: 70vh;
			opacity: 1;
			z-index: 0;
			overflow: hidden;
			background-color: wheat;
			background-size: cover;
			background-position-y: bottom;
			transition: opacity 1s;
	
			&.front {
				z-index: 1;
			}
	
			&.fadeout {
				opacity: 0;
			}
	
			&.bg0 {
				background-image: url('../images/accueil/louis-hoang.jpg');
			}
	
			&.bg1 {
				background-image: url('../images/accueil/louise-knight.jpg');
			}
	
			&.bg2 {
				background-image: url('../images/accueil/ritvik-singh.jpg');
			}
	
			&.bg3 {
				background-image: url('../images/accueil/anshu.jpg');
			}
	
			&.bg4 {
				background-image: url('../images/accueil/robert.jpg');
			}
		}
	
		.accueil {
			position: relative;
			width: 100%;
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: space-between;
			z-index: 5;
	
			.suivant {
				p {
					margin: 0;
				}
			}
	}

	}

	#transition-overlay {
		position: fixed;
		top: 100vh;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: white;
		transition: top 1s;
		z-index: 2;

		&.animate {
			top: 0;
		}
	}
}

section footer {
	padding-top: 5em;
	cursor: default;
	color: #111;

	.wrapper {
		margin: auto;
		max-width: 900px;
		padding: 2em;
		background-color: #ffcc80aa;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.navigation {
		display: flex;
		flex-direction: column;
		justify-content: center;

		a {
			color: #111;
			text-decoration: none;
			white-space: nowrap;
			width: 0px;
			background-color: wheat;
			transition: width 1s;

			&:hover {
				width: 100px;
				background-color: wheat;
			}
		}
	}

	.contact {
		p {
			font-size: 1.5em;
			margin: 0;
		}

		.adresse {
			margin-top: 1em;
			font-size: 1em;

			span {
				display: block;
			}
		}
	}
}
