@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
            
::-moz-selection {
    background-color: #e77224;
    color: #ffffff;
}
::selection {
    background-color: #e77224;
    color: #ffffff;
}

* {font-family: 'Abril Fatface', serif;}


body {
    margin: 0;
    color: #222;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: default;
    text-align: justify;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: #222;
}

header, header a {
    color: #111;
}

header {
    font-family: serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    padding-top: 2em;
    height: 60vh;

    transition: opacity .6s;
}

header.loaded {
    opacity: 1;
}

header h1 {
    display: inline-block;
    
    line-height: .8em;
    text-align: left;
    margin: 0;

    font-size: 8em;
    font-weight: lighter;
    white-space: nowrap;
    letter-spacing: 2px;
}

header h1 span:first-child {
    font-size: .71em;
}

header .logo {
    position: relative;
}

header .logo .ball {
    position: absolute;
    padding: 10%;
    background-color: #e2bf4c93;
    border-radius: 100%;
    z-index: -1;
    top: 40%;
    left: 20%;
    transform: scale(0);
    transition: all 1s 1s;
}

header.loaded .logo .ball {
    background-color: #ffd95e;
    transform: scale(2.5);
}

header img {
    object-fit: cover;
    height: 35vh;
    width: 35vh;
    padding: 2em;
    transition: transform 1s;
}

header p {
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin: .5em 0 0 0;

    font-weight: lighter;
    white-space: nowrap;
}


header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;
}

header nav a {
    position: relative;
    opacity: 0;
    white-space: nowrap;
    padding: 0 1em;
    font-size: .9em;
    text-decoration: none;
}

header nav a::before {
    position: absolute;
    content: "";
    padding: 1em;
    background-color: #ffd95e;
    /* border: 2px solid #ffd95e; */
    border-radius: 100%;
    z-index: -1;
    top: -0.35em;
    left: .5em;
    transform: scale(0);
    transition: transform .5s;
}

header nav a:hover::before,
header nav a:focus::before {
    transform: scale(1);
    transition: transform .2s;
}

header nav a:focus::before {
    transform: scale(1.5);
    transition: transform .2s;
}

header.loaded nav a {
    opacity: 1;
    transition: opacity .5s;
}

header.loaded nav a:nth-child(1) {transition-delay: .2s}
header.loaded nav a:nth-child(2) {transition-delay: .4s}
header.loaded nav a:nth-child(3) {transition-delay: .6s}
header.loaded nav a:nth-child(4) {transition-delay: .8s}

@media screen and (max-width: 900px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav a {
        margin: .4em;
    }
}

#mobilemenu {
    display: none;
}

#mobilemenu .open,
#mobilemenu .close {
    cursor: pointer;
}

#mobilemenu .close {
    font-size: 2em;
    text-align: center;
    margin-top: 2rem;
}

#mobilemenu .overlay {
    position: fixed;
    top: -100vw;
    left: 0;
    height: 0;
    padding-top: 100vw;
    width: 100%;
    background-color: #ffd95e;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    z-index: 2;
    overflow: hidden;

    transition: height 1s;
}

#mobilemenu.opened .overlay {
    visibility: visible;
    height: calc(100vh + 100vw);
}

#mobilemenu .overlay > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#mobilemenu .overlay > div a {
    margin: .2em 0 0 0;
}

#mobilemenu .overlay > div h3 {
    margin: 1.5em 0 .5em 0;
}



@media screen and (max-width: 600px) {

    header {
        flex-direction: column;
    }

    header nav {display: none;}
    header nav#mobilemenu {display: flex;}

    header .logo {
        font-size: 16px;
        padding-top: 3em;
    }
}